* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inspiration;
  src: url("Inspiration-Regular.ttf");
}

@font-face {
  font-family: "Iowan Old Style";
  src: url("Bitstream\ Iowan\ Old\ Style\ BT.ttf");
}

body {
  font-family: "Iowan Old Style";
}

header {
  background-color: #2e6a73;
  height: 70px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1000;
}

.title-box {
  width: 100px;
  height: auto;
  margin: 0 auto;
}

.main-title {
  position: absolute;
  height: auto;
  text-align: center;
  font-family: Inspiration;
  font-style: normal;
  font-size: 60px;
  top: 0;
  color: #fff;
}

.nav-menu {
  position: absolute;
  height: auto;
  bottom: 4px;
  margin-left: 60px;
  font-size: 17px;
}

.nav-menu a:link {
  text-decoration: none;
  color: #000;
  margin-right: 20px;
  cursor: pointer;
}

.nav-menu a:hover {
  border-bottom: solid 4px #a13737;
}

a:active {
  color: #fff;
}

a:visited {
  color: #000;
}

.nav-menu a:last-child {
  margin-right: 0;
}

.search-bar {
  position: absolute;
  right: 150px;
  top: 35%;
}

#search {
  border: 1px solid #000;
  border-radius: 13px;
  height: 25px;
  background-color: #2e6a73;
  color: #000;
  width: 200px;
}

#search::placeholder {
  color: #000;
  font-family: "Iowan Old Style";
  font-size: 14px;
  padding-left: 7px;
}

#profile {
  position: absolute;
  right: 40px;
  top: 30%;
}

#profile a img {
  width: 30px;
  height: 30px;
  background-color: #2e6a73;
}

#bag {
  position: absolute;
  right: 90px;
  top: 30%;
}

#bag a img {
  width: 30px;
  height: 30px;
  background-color: #2e6a73;
}

/* /////////////////////// Product Details ///////////////////////// */

/* ////////////////////// SHOPPING BAG PAGE ////////////////////// */

article {
  margin-top: 170px;
  margin-bottom: 100px;
}

.order-box {
  position: relative;
}

.shopping-bag-title {
  margin: auto;
  font-family: "Iowan Old Style";
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  margin-bottom: 29px;

  color: #000000;
}

.shopping-bag-product-box {
  width: 851px;
  height: 391px;
  margin-left: 60px;
  background: #f7f7f7;
  border: 5px solid #2e6a73;
  border-radius: 47px;
  padding-top: 76px;
  padding-left: 40px;
  padding-bottom: 71px;
}

.shopping-bag-swan-box {
  width: 260px;
  height: 244px;
  left: 100px;
  background: #f7f7f7;
  border: 5px solid #2e6a73;
  border-radius: 47px;
  background-color: white;
}

.voucher-box {
  width: 851px;
  height: 217px;
  margin-top: 70px;
  margin-left: 60px;
  background: #f7f7f7;
  border: 5px solid #2e6a73;
  border-radius: 47px;
}

.order-summary-box {
  position: absolute;
  top: 0;
  width: 464px;
  height: 762px;
  margin-right: 60px;
  background: #f7f7f7;
  border: 5px solid #2e6a73;
  border-radius: 47px;
  right: 0;
}

/* //////////////////////Footer starts here///////////////////////// */
.container-footer {
  /* max-width: 1820px; */
  /* background-color: red; */
  /* margin: auto; */
  background-color: #2e6a73;
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1820px;
  /* background-color: red; */
  margin: auto;
  background-color: #2e6a73;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

footer li:not(:last-child) {
  margin-bottom: 10px;
}

footer h4 {
  margin-bottom: 35px;
  font-size: 18px;
  color: white;
}

footer ul li a {
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}

footer ul li a:hover {
  color: white;
  padding-left: 10px;
}

footer ul {
  list-style: none;
}
