* {
  /* Reset all the margin and Padding */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-footer {
  max-width: 1820px;
  /* background-color: red; */
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

footer {
  background-color: #2E6A73;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding:  0 15px;
}

footer li:not(:last-child){
  margin-bottom: 10px;
}

footer h4 {
  margin-bottom: 35px;
  font-size: 18px;
  color: white;
}
 footer ul li a {
  color: white;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
 }


 footer ul li a:hover {
  color: white;
  padding-left: 10px;
 }

ul {
  list-style: none;
}

