* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inspiration;
  src: url("Inspiration-Regular.ttf");
}

@font-face {
  font-family: "Iowan Old Style";
  src: url("Bitstream\ Iowan\ Old\ Style\ BT.ttf");
}

body {
  font-family: "Iowan Old Style";
}

/* //////////////////////////////////////////////////////////////////////////// */

.container-footer {
  max-width: 1820px;
  margin: auto;
}

.row {
  margin-left: 60px;
  display: flex;
  flex-wrap: wrap;
}

footer {
  background-color: #2e6a73;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

footer li:not(:last-child) {
  margin-bottom: 10px;
}

footer h4 {
  margin-bottom: 35px;
  font-size: 18px;
  color: white;
}

footer ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

footer ul li a:hover {
  color: white;
  padding-left: 10px;
}

ul {
  list-style: none;
}
