* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inspiration;
  src: url("Inspiration-Regular.ttf");
}

@font-face {
  font-family: "Iowan Old Style";
  src: url("Bitstream\ Iowan\ Old\ Style\ BT.ttf");
}

body {
  font-family: "Iowan Old Style";
}

header {
  background-color: #2e6a73;
  height: 100px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1000;
}

.title-box {
  width: 100px;
  height: auto;
  margin: 0 auto;
}

.main-title {
  position: absolute;
  height: auto;
  text-align: center;
  font-family: Inspiration;
  font-size: 90px;
  top: 0;
  color: #fff;
  font-style: italic;
  font-weight: 400;
}

.nav-menu {
  position: absolute;
  height: auto;
  bottom: 4px;
  margin-left: 60px;
  font-size: 17px;
}

/* .nav-menu  This zone lets footer links be black */
.nav-menu a:link {
  text-decoration: none;
  color: #000;
  margin-right: 20px;
  cursor: pointer;
}

.nav-menu a:hover {
  border-bottom: solid 4px red;
}

.nav-menu a:active {
  color: #fff;
}

.nav-menu a:visited {
  color: #000;
}

.nav-menu a:last-child {
  margin-right: 0;
}

.search-bar {
  position: absolute;
  right: 150px;
  top: 35%;
}

#search {
  border: 1px solid #000;
  border-radius: 13px;
  height: 25px;
  background-color: #2e6a73;
  color: #000;
  width: 200px;
}

#search::placeholder {
  color: #000;
  font-family: "Iowan Old Style";
  font-size: 14px;
  padding-left: 7px;
}

#profile {
  position: absolute;
  right: 40px;
  top: 30%;
}

#profile a img {
  width: 30px;
  height: 30px;
  background-color: #2e6a73;
}

#bag {
  position: absolute;
  right: 90px;
  top: 30%;
}

#bag a img {
  width: 30px;
  height: 30px;
  background-color: #2e6a73;
}
