* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Inspiration;
  src: url('Inspiration-Regular.ttf');
}

@font-face {
  font-family: 'Iowan Old Style';
  src: url('Bitstream\ Iowan\ Old\ Style\ BT.ttf');
  /* font-style: italic; */
}

body {
  font-family: 'Iowan Old Style';
  font-style: italic;
  font-size: 18px;
}

header {
  background-color: #2e6a73;
  height: 100px;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1000;
}

.title-box {
  width: 100px;
  height: auto;
  margin: 0 auto;
}

.main-title {
  position: absolute;
  height: auto;
  text-align: center;
  font-family: Inspiration;
  font-size: 90px;
  top: 0;
  color: #fff;
  font-style: italic;
  font-weight: 400;
}

.nav-menu {
  position: absolute;
  height: auto;
  bottom: 4px;
  margin-left: 60px;
  font-size: 18px;
}

/* .nav-menu  This zone lets footer links be black */
.nav-menu a:link {
  text-decoration: none;
  color: #000;
  margin-right: 20px;
  cursor: pointer;
}

.nav-menu a:hover {
  border-bottom: solid 4px black;
}

.nav-menu a:active {
  color: #fff;
}

.nav-menu a:visited {
  color: #000;
}

.nav-menu a:last-child {
  margin-right: 0;
}

.search-bar {
  position: absolute;
  right: 150px;
  top: 35%;
}

#search {
  border: 1px solid #000;
  border-radius: 13px;
  height: 25px;
  background-color: #2e6a73;
  color: #000;
  width: 200px;
}

#search::placeholder {
  color: #000;
  font-family: "Iowan Old Style";
  font-size: 14px;
  padding-left: 7px;
  font-style: italic;
}

#profile {
  position: absolute;
  right: 40px;
  top: 30%;
}

#profile a img {
  width: 30px;
  height: 30px;
  background-color: #2e6a73;
}

#bag {
  position: absolute;
  right: 90px;
  top: 30%;
}

#bag a img {
  width: 30px;
  height: 30px;
  background-color: #2e6a73;
}

/* /////////////////////// Product Details ///////////////////////// */
article {
  box-sizing: border-box;
  margin: 170px 60px;
}

.product-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;
  /* margin-top: 120px;
  margin-left: 60px; 
  margin-right: 60px; */
}

.main-product-box {
  border: solid 5px #2e6a73;
  border-radius: 47px;
  background-color: #f7f7f7;
  height: 700px;
  flex-basis: 60%;
  box-shadow: rgb(72, 72, 72) 2px 2px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.swan-main {
  height: 600px;
  margin-top: 20px;
}

.ball-container{
  width: 155px ;
  height: 40px;
  display: flex;
  box-sizing: border-box;
  gap: 5px;
  margin-top: 20px;
}

.ball {
  border:solid 5px #2e6a73;
  border-radius: 100px;
  height: 35px;
  width: 35px;
  margin-bottom: 20px;
  cursor: pointer;
}

.ball-coloured {
  border:solid 5px #2e6a73;
  border-radius: 100px;
  height: 35px;
  width: 35px;
  background-color: #2e6a73;
  margin-bottom: 20px;
  cursor: pointer;
}

.back-icon {
 position:absolute ;
 z-index: 999;
 width: 50px;
 height: 50px;
 left: 20px;
 top: 325px;
 cursor: pointer;
}

.next-icon {
  width: 50px;
  height: 50px;
  position:absolute;
  z-index: 999;
  right:20px;
  align-items: center;
  top: 325px;
  cursor: pointer;
}

.product-bag {
  border: solid 5px #2e6a73;
  background-color: #f7f7f7;
  border-radius: 47px;
  flex-basis: 30%;
  height: 700px;
  padding: 40px 25px;
  box-shadow: rgb(72, 72, 72) 2px 2px 4px;
}

.product-bag h3 {
  font-size: 28px;
  font-weight: 100;
}

.swan-text {
  color: #030000;
}

.product-bag p {
  margin-bottom: 10px;
}

.price {
  margin-bottom: 80px;
}

.add-bag-li {
  list-style: none;
  text-align: center;
  font-size: 14px;
}

.add-bag-li:last-child {
  margin-top: 10px;
}


.hr-1 {
  border: none;
  border-bottom: 2px solid #2e6a73;
  box-shadow: rgb(72, 72, 72) 2px 2px 4px;
}

.swan-secondary {
  height: 87px;
  width: 87px;
  margin-bottom: 10px;
  cursor: pointer;
}



.add-bag {
  width: 100%;
  background-color: #2e6a73;
  box-shadow: rgb(72, 72, 72) 2px 2px 4px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 47px;
  height: 75px;
  border-style: none;
  color: white;
  font-size: 28px;
  font-family: 'Iowan Old Style';
  font-style: italic;
  cursor: pointer;
}

/* Description Details about the project */

.description-link {
  color: #000;
  text-decoration: none;
  margin-right: 30px;
  margin-left: 50px;
  display: inline-block;
  border-bottom: solid 3px white;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.description-link:active {
  color: #000;
}

.description-link:hover {
  border-bottom: solid 3px #2e6a73;
  padding-bottom: 10px;
}

.description-container {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
  /* border-bottom: solid #2e6a73 2px;
  border-top: solid #2e6a73 2px; */
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-evenly;
}

.hr-2 {
  border: none;
  border-bottom: 2px solid #2e6a73;
  box-shadow: rgb(72, 72, 72) 2px 2px 4px;
}


.details-col-1 {
  width: 35%;
}

.details-col-2 {
width: 30%;

}

.details-li {
  text-align: left;
}




/* You may also like this.... */
article h2 {
  margin-top: 50px;
  font-size: 28;
  font-weight: 100;
}

.product-raw {
  display: flex;
  background-color: white;
  margin-bottom: 50px;
  margin-right: 60px;
  margin-left: 60px;
  height: 704px;
  flex-wrap: wrap;
}


.product-link-box {
  flex-flow: row wrap;
  justify-content: space-around;
  margin: auto;
}

.product-box {
  margin: auto;
  width: 400px;
  height: 560px;
  flex-flow: row wrap;
  justify-content: space-around;
  border: solid 5px #2e6a73;
  border-radius: 47px;
  box-shadow: rgb(72, 72, 72) 2px 2px 4px;
  background-color: #F7F7F7;
}

.product-box img {
  width: 392px;
  height: 392px;
  margin-top: 50px;
}

.product-info {
  position: relative;
}

.product-spec {
  margin-top: 30px;
  position: absolute;
  top: -20px;
  left: 20px;
  text-align: left;
  font-style: italic;
}

.product-name {
  font-family: "Iowan Old Style";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  opacity: 0.75;
  color: #030000;
}

.product-detail {
  font-family: "Iowan Old Style";
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #030000;
  opacity: 0.75;
}

.product-price {
  color: #000;
  position: absolute;
  right: 30px;
  top: -25px;
  z-index: 999;
  margin-top: 40px;
  font-style: italic;
  font-size: 28px;
}

/* //////////////////////Footer starts here///////////////////////// */

.container-footer {
  max-width: 1820px;
  margin: auto;
}

.row {
  margin-left: 60px;
  display: flex;
  flex-wrap: wrap;
}

footer {
  background-color: #2e6a73;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

footer li:not(:last-child) {
  margin-bottom: 10px;
}

footer h4 {
  margin-bottom: 35px;
  font-size: 20px;
  color: white;
}

footer ul li a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

footer ul li a:hover {
  color: white;
  padding-left: 10px;
}

footer ul {
  list-style: none;
}